# Exclude all .html files (documentation reports) completely from language stats
*.html linguist-vendored
**/*.html linguist-vendored
*.html linguist-documentation
**/*.html linguist-documentation

*.pdf linguist-vendored
**/*.pdf linguist-vendored
*.zip linguist-vendored
**/*.zip linguist-vendored

# Ensure CSHTML, CSS, and JS files from the MVC project are still counted
*.cshtml linguist-language=html
**/*.cshtml linguist-language=html
